        body {
            padding-top: 20px;
            padding-bottom: 20px;
            background-image: url(/trabalho-web/img/veiculo.jpg);
            min-height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .marketing {
            background-color: rgba(0, 0, 0, .5);
        }
        
        h2 {
            color: #565656;
        }
        
        .header,
        .marketing,
        .footer {
            padding-right: 15px;
            padding-left: 15px;
        }
        
        .row {
            overflow-x: auto;
        }
        
        .header {
            padding-bottom: 20px;
            border-bottom: 1px solid #e5e5e5;
            color: white;
        }
        
        .header h3 {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 40px;
        }
        
        .footer {
            padding-top: 19px;
            color: #777;
            border-top: 1px solid #e5e5e5;
        }
        
        .container {
            background-color: rgba(255, 255, 255, .8) !important;
            border-radius: 10px;
            padding: 20px 20px 10px 20px !important;
        }
        
        @media (min-width: 768px) {
            .container {
                max-width: 730px;
            }
        }
        
        .container-narrow>hr {
            margin: 30px 0;
        }
        
        .jumbotron {
            text-align: center;
            border-bottom: 1px solid #e5e5e5;
        }
        
        .jumbotron .btn {
            padding: 14px 24px;
            font-size: 21px;
        }
        
        .form-group {
            text-align: justify;
        }
        
        .marketing {
            margin: 40px 0;
        }
        
        .marketing p+h4 {
            margin-top: 28px !important;
        }
        
        thead {
            color: white;
            text-align: center;
        }
        
        #resultados {
            color: white !important;
            text-align: center;
        }
        
        @media screen and (min-width: 768px) {
            .header,
            .marketing,
            .footer {
                padding-right: 0;
                padding-left: 0;
            }
            .header {
                margin-bottom: 30px;
            }
            .jumbotron {
                border-bottom: 0;
            }
        }